.headers{
    background-color: #111727;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 71px;
    width: 100%;
    position: fixed;
    z-index: 11;
    box-shadow: 0px 3px 15px rgba(49, 5, 5, 0.5);
    color: rgba(255, 255, 255, 0.77);
    font-size: 15px;
    transition: 0.4s ease;
}

.logose{
    display: flex;
    /* margin-top: 20px; */
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.nav-links{
    width: 100%;
    margin-top: 30px;
}

.nav-links ul{
    display: flex;
    justify-content: flex-end;
}

.nav-links ul li{
    padding-left: 80px;
    transition: 0.5s ease;
    font-weight: 500;
}

.nav-links ul li:hover{
    color: #FFF;
    font-weight: 500;
}

.nav-links ul li ul{
    display: flex;
    flex-direction: column;
}

.nav-links ul li ul li{
    padding: 5px 5px;
    display: none;
    transition: 0.4s ease;
    background-color: #111727;
}

.nav-links ul li ul li:hover{
    background-color: rgba(128, 136, 158, 0.5);
}

.nav-links ul :hover li{
    display: block;
    transition: 0.4s ease;
    font-size: 13px;
}

.categorie{
    padding: 0 0 0 100px;
}
