.formContainer {
  text-align: center;
  width: 500px;
  margin: auto;
  border: 1px solid rgba(177, 167, 167, 0.4);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 30px 60px 60px 60px;
  margin-top: 25vh;
  margin-bottom: 25vh;
}
.formInput {
  margin-top: 18px;
  border: 0.5px solid #b1a7a7;
  padding: 5px 23px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}
.formBtn {
  margin-top: 18px;
  border: 0.5px solid #b1a7a7;
  padding: 5px 23px;
  width: 180px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}
.fromtitle {
  font-weight: 400;
  font-size: 30px;
}
.submit {
  background: #111727;
  color: #fff;
  transition: 0.7s ease;
}
.submit:hover {
  background: rgba(17, 23, 39, 0.8);
}
.cancel {
  background: #f2f0ee;
  transition: 0.7s ease;
}
.cancel:hover {
  background: rgba(242, 240, 238, 0.1);
}
.display {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}
.containerGoogle {
  text-align: center;
  width: 500px;
  margin: auto;
  border: 1px solid rgba(177, 167, 167, 0.4);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20vh;
  background: #f2f0ee;
  transition: 0.7s ease;
}
.textGoogle {
  color: rgba(66, 133, 244, 255);
  margin: auto;
}
.containerGoogle:hover {
  background-color: rgba(177, 167, 167, 0.45);
  cursor: pointer;
}
.picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.containerPicture {
  text-align: center;
  position: relative;
  margin: auto;
}
.file{
  position: absolute;
  width: 30px;
  top: 90px;
  left: 80px;
  opacity: 0;
  cursor: pointer;
}
.icon{
  font-size: 30px;
  color: #111727;
  position: relative;
  top: -10px;
  left: 80px;
  cursor: pointer;
}

